<!DOCTYPE html>
<html ng-app="handlingModule">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/handlingEvent.js"></script>
</head>
<body ng-controller="handlingController">
    <h3>{{title}}</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Likes</th>
                <th>Dislikes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="technology in technologies">
                <td>{{technology.name}}</td>
                <td>{{technology.likes}}</td>
                <td>{{technology.dislikes}}</td>
                <td>
                    <input type="button" value="Like" ng-click="incrementLikes(technology)">
                    <input type="button" value="Dislikes" ng-click="incrementDislikes(technology)">
                </td>
            </tr>
        </tbody>

    </table>
</body>
</html>