<!DOCTYPE html>
<html ng-app="tableModule">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tables</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/table.js"></script>
</head>

<body ng-controller="tableController">
    <h3>{{title}}</h3>
    <form>
        <fieldset>
            <table>
                <tr>
                    <td>Code :</td>
                    <td>
                        <input type="text" ng-model="table.code">
                    </td>
                </tr>
                <tr>
                    <td>Seat :</td>
                    <td>
                        <input type="number" ng-model="table.seat">
                    </td>
                </tr>
                <tr>
                    <td>Description :</td>
                    <td>
                        <input type="text" ng-model="table.description">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="button" value="Add New" ng-click="add()" ng-show="createNew">
                        <input type="button" value="Update" ng-click="update()" ng-show="!createNew">
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Code</th>
                <th>Seat</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="table in tables">
                <td>{{$index+1}}</td>
                <td>{{table.code}}</td>
                <td>{{table.seat}}</td>
                <td>{{table.description}}</td>
                <td>
                    <input type="button" value="Edit" ng-click="edit(table)">
                    <input type="button" value="Delete" ng-click="delete(table)">
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>